body {
	font-family: ormal, sans-serif;
	padding: 0;
	margin: 0;
}

dt{
	border: 1px solid none;
	background: #FF7E21; 
	padding: 5px;
	margin:5px;
	border-radius: 5px; 
	font-weight: 600; /* Жирное начертание */

}
dt:hover{
	border: 5px solid none;
	background: #FBE73A; 
	padding: 5px;
	margin:5px;
	font-weight: 600; /* Жирное начертание */
}

.aa {
     display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     color: #154F1A;
	text-decoration: none;
 }

.menu {
    position: fixed; /* Фиксированное положение */
    height: 100%; /* Высота блока */
    width: 11%; /* Ширина блока */
    background: url(../img/1.png); /* Цвет фона */ 
    border: 1px solid none; /* Параметры рамки */ 
    float: left; 
   }

 #first {
 	width: 89%;
 	height: 1000px;
 	background:  url(../img/5.png);
 	float: right; 
	
 }

 .logo {
 	position: relative ; 
 	text-align: center;
 	margin:0;
 	top: 50px;
 }

 	
 .text	{
	text-align: center;
 	color:#2B4547;
 	width: 1200px;
 	margin:auto;
 	font-family:ormal;
 }
 .txt {
 	margin-top: 120px;
 }
 
  #second {
  	width: 89%;
  	height: 1000px;
  	background:url(../img/4.png);
  	float: right; 


  }
.text2	{
	text-align: justify;
 	color:#2B4547;
 	width: 1200px;
 	margin:auto;
 	font-family:ormal;
}
.txt2	{
		margin-top: 200px;
}

  #third {
  	width: 89%;
  	height: 1000px;
  	background:url(../img/3.png);
  	float: right; 
  	

  }


.text3 {
	text-align: center; ;
 	color:#2B4547;
 	width:500px;
 	height:400px;
 	margin:auto;
 	padding-top:60px;
 	font-family:ormal;
 	background: #F9EFF5;
 	border: 10px solid #DEDCDB;

 	
}



.txt3	{	
	margin-top: 200px;
}	



